@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 104px;
  padding-left: 104px;
}

body {
  background-color: #FAFBFC;
}
