.main-bg {
  background: url('/bg-travel.png') no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.travel__text {
  width: 440px;
}